{% extends 'layout.html' %}

{% block title %}Register for HMMT February 2011{% endblock %}

{% block content %}
    <h2>Register for HMMT February 2011</h2>
    <p>This is the registration site for the 2011 February Harvard-MIT Mathematics Tournament. If you have an account, you can <a href="accounts/login">log in</a> to edit your registration. If you do not yet have an account and would like to register your school, proceed to <a href="registration/account">account registration</a>. Registration for our November 2010 contest can be found <a href="http://hmmt.mit.edu/november">here</a>. You will need to make another account if you would like to attend both contests. </p>
{% endblock %}
