{% extends 'layout.html' %}

{% block title %}Register for HMMT November 2010{% endblock %}

{% block content %}
    <h2>Register for HMMT November 2010</h2>
    <p>This is the registration site for the 2010 November Harvard-MIT Mathematics Tournament. If you have an account, you can <a href="accounts/login">log in</a> to edit your registration. If you do not yet have an account and would like to register your school, proceed to <a href="registration/account">account registration</a>.</p>
{% endblock %}
