{% extends 'layout.html' %}

{% block title %}Registration: Register your school{% endblock %}

{% block content %}
    <ol class="progress">
        <li>Create an account</li>
        <li class="current">Register your school</li>
        <li>Register teams</li>
    </ol>
    <h1>Register your school</h1>
    <p class="helptext">
        Tell us about your school. If you are registering as an individual, indicate that below, but put your school information anyways. If you are homeschooled, but not registering as an individual, indicate that below, and put your own address. If you are homeschooled and registering as an individual, register as and individual, but put your own address down.  </p>
    <form action="" method="post">
        <table class="wide">
            {{ form }}
        </table>
        <input type="submit" value="Register School">
    </form>
{% endblock %}
