{% extends 'layout.html' %}

{% block title %}Registration: Register teams{% endblock %}

{% block content %}
    <ol class="progress">
        <li>Create an account</li>
        <li>Register your school</li>
        <li class="current">Register teams</li>
    </ol>
    <h1>Register teams</h1>
    <p class="helptext">
        Each team must have at least four mathletes, but can have no more than six. You may register up to three teams.
    </p>
    <form action="" method="post">
        {% csrf_token %}
        {{ teams.management_form }}
        {% for team in teams.forms %}
        <div class="team-group" style='margin-bottom: 20px'>
            {{ team.as_p }}
            {% if team.nested %}
            <table>
            {% for formset in team.nested %}
                {% for form in formset.forms %}

                {# Table header #}
                {% if forloop.first %}
                <tr>
                    {% for field in form %}
                    {% if not field.is_hidden %}
                    <th>
                        {{ field.label }}
                    </th>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}

                {# Hidden fields #}
                {% for field in form %}
                {% if field.is_hidden %}
                {{field}}
                {% endif %}
                {% endfor %}

                {# Fields #}
                <tr>
                    {% for field in form %}
                    {% if not field.is_hidden %}
                    <td>{{ field }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>

                {% endfor %}
            {% endfor %}
            </table>
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" value="Register Teams">
    </form>
{% endblock %}
