{% extends 'layout.html' %}

{% block title %}Registration: Register teams{% endblock %}

{% block content %}
    <ol class="progress">
        <li>Create an account</li>
        <li>Register your school</li>
        <li class="current">Register teams</li>
    </ol>
    <h1>Register teams</h1>
    <p class="helptext">
      For our February competition, each team must have at least six mathletes, but no more than eight. Any team that has fewer than six students will automatically be considered as a group of individual registrants. If you are registering as an individual, just enter your name alone. Enter a nickname for any student whose name may appear differently on the contest itself. 
    </p>
<p class="helptext"> For our February contest, each individual will select two subjects, and his or her individual test will be <strong>a single two-hour test</strong> that focuses heavily on the select subjects, but which will also contain a set of questions common to all individual tests. This is significantly different from previous HMMTs, but we believe that it will provide for an overall more enjoyable contest experience. Note that <strong>there will no longer be a General Test</strong> option for the individual round. 
    </p>
<p class="helptext">Each team will also select either Team A or Team B for the team contest. Team A is our standard proof-based contest, while Team B is an easier, non-proof-based contest that counts substantially less towards the sweepstakes award than the Team A test. We will announce team contest awards for both the Team A and Team B contests. 
</p>

<p class="helptext">
  Because of space constraints, we ask that you please follow our <a href="http://web.mit.edu/hmmt/www/rules.shtml#registration">registration policy</a>. Each school is allowed to attempt to register up to three teams. We will let you know in mid-November how many teams your school is permitted to bring, after which you may continue to edit your rosters to reflect this. Because registration does close on November 1, please enter the information of the teams that you would like to attempt to register before then.
</p>
<p class="helptext">
  In order to help our competition run smoothly, we ask that you provide one proctor per team that you are bringing, and to enter the name of that proctor below. If you cannot bring one proctor for every team, please <a href="mailto:hmmt-request@mit.edu">email us</a> to let us know ahead of time. This information may be edited at any point up until February 1, 2011. 
</p>
<p class="helptext">
  Registration fees for our February tournament are $80/team, or $10/individual. The deadline for registration fees to be mailed to HMMT is February 1. More details can be found in our <a href="http://web.mit.edu/hmmt/www/rules.shtml#registration">registration policy</a>. Note that there is a late fee for submitting registration fees after the deadline.
</p>
    {% if teams.errors %}
    <p style="color: red">There are errors below. Please fix them. <strong>Your data has not yet been saved</strong>.</p>
    {% endif %}
    <form action="" method="post">
        {{ teams.management_form }}
        {% for team in teams.forms %}
        <div class="team-group" style='margin-bottom: 20px'>
            <h3>Team {{ forloop.counter}}</h3>
            {% spaceless %}
            {% for field in team.hidden_fields %}
            {{ field }}
            {% endfor %}
            <table>
            {% for field in team.visible_fields %}
                {% if field.errors %}
                <tr>
                    <td colspan="3">
                        <ul>
                            {{ field.errors }}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                    <td>{{ field.help_text }}</td>
                </tr>
            {% endfor %}
            </table>
            {% if team.nested %}
            <h3>Team Members:</h3>
            <table>
            {% for formset in team.nested %}
                {{ formset.management_form }}
                {% if formset.non_form_errors %}
                {{ formset.non_form_errors }}
                {% endif %}
                {% for form in formset.forms %}

                {# Table header #}
                {% if forloop.first %}
                <tr>
                    {% for field in form.visible_fields %}
                    <th>
                        {{ field.label }}
                    </th>
                    {% endfor %}
                </tr>
                {% endif %}

                {# Hidden fields #}
                {% for field in form.hidden_fields %}
                {{field}}
                {% endfor %}

                {# Errors #}
                {% if form.errors %}
                <tr>
                    <td colspan="{{form.visible_fields|length}}">
                        {{ form.errors }}
                    </td>
                </tr>
                {% endif %}

                {# Fields #}
                <tr>
                    {% for field in form.visible_fields %}
                    <td>{{ field }}</td>
                    {% endfor %}
                </tr>

                {% endfor %}
            {% endfor %}
            </table>
            {% endif %}
            {% endspaceless %}
        </div>
        {% if not forloop.last %}
        <hr />
        {% endif %}
        {% endfor %}
        <input type="submit" value="Register Teams">
    </form>
{% endblock %}
