{% extends 'layout.html' %}

{% block title %}Registration: Register teams{% endblock %}

{% block content %}
    <ol class="progress">
        <li>Create an account</li>
        <li>Register your school</li>
        <li class="current">Register teams</li>
    </ol>
    <h1>Register teams</h1>
    <p class="helptext">
      For our November competition, each team must have at least four mathletes, but no more than six. Any team that has fewer than four students will automatically be considered as individual registrants. If you are registering as an individual, just enter your name alone. For the November contest, there is only a single choice for the individual rounds (there are no subject tests).
    </p>
    {% if teams.errors %}
    <p style="color: red">There are errors below. Please fix them. <strong>Your data has not yet been saved</strong>.</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ teams.management_form }}
        {% for team in teams.forms %}
        <div class="team-group" style='margin-bottom: 20px'>
            <h3>Team {{ forloop.counter}}</h3>
            {% spaceless %}
            {% for field in team.hidden_fields %}
            {{ field }}
            {% endfor %}
            <table>
            {% for field in team.visible_fields %}
                {% if field.errors %}
                <tr>
                    <td colspan="3">
                        <ul>
                            {{ field.errors }}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                    <td>{{ field.help_text }}</td>
                </tr>
            {% endfor %}
            </table>
            {% if team.nested %}
            <h3>Team Members:</h3>
            <table>
            {% for formset in team.nested %}
                {{ formset.management_form }}
                {% if formset.non_form_errors %}
                {{ formset.non_form_errors }}
                {% endif %}
                {% for form in formset.forms %}

                {# Table header #}
                {% if forloop.first %}
                <tr>
                    {% for field in form.visible_fields %}
                    <th>
                        {{ field.label }}
                    </th>
                    {% endfor %}
                </tr>
                {% endif %}

                {# Hidden fields #}
                {% for field in form.hidden_fields %}
                {{field}}
                {% endfor %}

                {# Errors #}
                {% if form.errors %}
                <tr>
                    <td colspan="{{form.visible_fields|length}}">
                        {{ form.errors }}
                    </td>
                </tr>
                {% endif %}

                {# Fields #}
                <tr>
                    {% for field in form.visible_fields %}
                    <td>{{ field }}</td>
                    {% endfor %}
                </tr>

                {% endfor %}
            {% endfor %}
            </table>
            {% endif %}
            {% endspaceless %}
        </div>
        {% if not forloop.last %}
        <hr />
        {% endif %}
        {% endfor %}
        <input type="submit" value="Register Teams">
    </form>
{% endblock %}
