<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="The Harvard-MIT Mathematics Tournament (HMMT) is an annual math tournament for high school students, held at MIT and Harvard in alternate years." />

  	<title>{% block title %}The Harvard-MIT Mathematics Tournament{% endblock %}</title>

    <link rel="stylesheet" href="media/style.css" type="text/css" />

</head>
<body>
    <div id="container">
        <div id="contentcol">
            <div id="content">
                <div id="loginbar">
                    {% if user.is_authenticated %}
                    <p>You are logged in as {{ user }}. <a href="accounts/logout">Log out</a></p>
                    {% else %}
                    <p>You are not logged in. <a href="accounts/login">Log in</a> or <a href="registration/account">Register</a></p>
                    {% endif %}
                </div>
                <h1 id="logo"><a href="./"><img src="media/images/logo2010.png" alt="Harvard-MIT Mathematics Tournament 2010" /></a></h1>
                {% block content %}Content goes here{% endblock %}
            </div>
        </div>
        <div id="navcol">
            <div id="nav">
                <h2 id="nav_header"><a id="navigation" name="navigation">Navigation</a></h2>
                <ul class="navlist">
                    <li><h3><a href="http://hmmt.mit.edu">HOME</a></h3></li>
                    <li><h3><a href="http://web.mit.edu/hmmt/www/register">REGISTRATION</a></h3></li>
                    <li><h3><a href="http://web.mit.edu/hmmt/www/november.shtml">November Information</a></h3></li>
                    <li><h3><a href="http://hmmt.mit.edu/online/">Online Tournament</a></h3></li>
                    <li><h3><a href="http://hmmt.mit.edu/masters">Masters Tournament</a></h3></li>
                    <li>
                        <h3>INTRO</h3>
                        <ul>
                            <li><a href="http://web.mit.edu/hmmt/www/history.shtml">History</a></li>
                            <li><a href="http://web.mit.edu/hmmt/www/datafiles/coordinators/2010-november.shtml">Coordinators</a></li>
                            <li><a href="http://web.mit.edu/hmmt/www/rules.shtml">Rules</a></li>
                            <li><a href="http://web.mit.edu/hmmt/www/sponsors.shtml">Sponsors</a></li>
                            <li><a href="http://web.mit.edu/hmmt/www/datafiles/schedules/2010-november.shtml">Schedule</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="http://web.mit.edu/hmmt/www/faq.shtml">FAQ</a> Highlights</h3>
                        <ul>
                            <li><a href="http://web.mit.edu/hmmt/www/faq.shtml#boston">About Boston</a></li>
                            <li><a href="http://web.mit.edu/hmmt/www/faq.shtml#contest_difficulty">Difficulty</a></li>
                            <li><a href="http://web.mit.edu/hmmt/www/faq.shtml#registration">Registration</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3>PREVIOUS YEARS' <a href="http://web.mit.edu/hmmt/www/datafiles/">ARCHIVE</a></h3>
                        <ul>
                            <li><a href="http://web.mit.edu/hmmt/www/datafiles/results/">Results</a></li>
                            <li><a href="http://web.mit.edu/hmmt/www/datafiles/problems/">Problems</a></li>
                            <li><a href="http://web.mit.edu/hmmt/www/datafiles/solutions/">Solutions</a></li>
                            <li><a href="http://web.mit.edu/hmmt/www/datafiles/photos/photos.shtml">Photos</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><a href="http://web.mit.edu/hmmt/www/staff.shtml">JOINING THE STAFF</a></h3>
                    </li>
                    <li>
                        <h3>CONTACT US</h3>
                        <ul>
                            <li><a href="mailto:hmmt-request%40mit.edu">hmmt-request@mit.edu</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3>Join Our Mailing List</h3>
                        <ul>
                            <li><a href="http://mailman.mit.edu/mailman/listinfo/hmmt-info">hmmt-info@mit.edu</a></li>
                        </ul>
                    </li>
                </ul>
                <p>
                    <a href="http://www.harvard.edu/"><img src="media/images/harvard-side.png" alt="Harvard" style="vertical-align: middle" /></a>
                    <a href="http://web.mit.edu/"><img src="http://web.mit.edu/graphicidentity/interface/mit-greywhite-footer3.gif" alt="MIT" style="vertical-align: middle" /></a>
                </p>
            </div>
        </div>
    </div>
</body>

<!-- Google Analytics tracking code -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-3055616-5");
        pageTracker._trackPageview();
    } catch(err) {}
</script>

</html>
